body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7FC29B;
    min-height: 100vh;
    font-family: "PHOSPHATE"
}

.firstContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: #8BF08E;
    min-width: 60vw;
    width: 60vw;
    min-height: 50vh;
    height: auto;
}

.firstContainer h1{
    cursor: default;
}

.secondContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 100px;
    width: 100%
    box-sizing: border-box;
    flex-wrap: nowrap;
}

@media (max-width: 600px) {
  .secondContainer {
    flex-direction: column;
    font-size: 14px;
  }
}

.exercise{
    background: #7FC29B;
    min-width: 13vw;
    width: 13vw;
    min-height: 30vh;
    height: auto;
    border-radius: 10px;
}

.exercise:hover{
    transform: scale(1.2);
}

.exercise img {
    width: 80%;
    height: 120px;
    object-fit: contain; /*Important*/
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    background: white;
}

.exercise h2{
    display: flex;
    justify-content: center;
}

.exercise:link{
    text-decoration: none;
    color: black;
}

.exercise:visited{
    color: black;
}

.secondContainerExercise{
    font-size: x-large;
    background: #7FC29B;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 30vw;
    min-height: 30vh;
    height: auto;
    border-radius: 30px;
}

.data{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#calculateBtn{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background: #7FC29B;
    border: none;

    font-size: large;
    cursor: pointer;
    background: #7FC29B;
    border: none;
    font-size: large;
    font-family: "PHOSPHATE";
    cursor: pointer;
}

#calculateBtn:hover{
    transform: scale(1.5);
}

.data input[type="number"]{
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 40%;
}