body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFE9E3;
    min-height: 100vh;
    margin: 0;


}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Apple Chancery";
    background: #D9CFC7;
    width: 25vw;
    height: 60vh;
    border-radius: 30px;
}

.mainContainer:hover{
    transform: scale(1.2);
}

.inContainer{
    display: flex;
    align-items: flex-start;
    background: #C9B59C;
    width: 22vw;
    height: 50vh;
    border-radius: 30px;
    margin-bottom: 25px;
    overflow-y: auto;

}

.inContainerList{
    flex: 1;
}

.mainContainer button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Apple Chancery";
    background: #D9CFC7;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;

}

.mainContainer button:hover{
    transform: scale(1.5);

}

.secondContainer {
    position: absolute;
    right: 20vw;
    font-family: "Apple Chancery";
    background: #D9CFC7;
    width: 15vw;
    height: 15vh;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;

}

.secondContainer #inputTask{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.secondContainer #closeTaskInput{
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50px;
    background: #CD8D7A;
}

.secondContainer #addTaskToList{
    position: absolute;
    bottom: 0px;
    border-radius: 50px;
    background: #C9B59C;
    width: 50px;
    font-family: "Apple Chancery";


}




